/*********************************************

DESIGN SYSTEM

*********************************************/



input {
    font-family: "Montserrat", sans-serif;
    color: var(--primary);
    width: 100%;
    height: 40px;
    border: 1px solid var(--alt);
    border-radius: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px !important;
}

.btn {
    font-family: "Montserrat", sans-serif;
    background-color: var(--secondary);
    color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.btn:hover {
    color: var(--secondary);
    background-color: var(--alt);
}

hr {
    border-bottom: 1px solid var(--alt) !important;
}

.clear20x {
    height: 20px;
}

/*********************************************

INDEX

*********************************************/
.logo {
    text-align: center;
}

.logo img {
    width: 300px;
}

.create {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 70px;
}

.create-content1,
.create-content2 {
    padding: 10px;
    box-sizing: content-box;
}

.create-content-box {
    border: 1px solid var(--alt);
    border-bottom: 5px solid var(--secondary);
    border-radius: 20px;
    padding: 30px;
}

.create-content-box p {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 500;
    text-align: justify;
    font-size: 14px;
}

.create-content2 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: var(--secondary);
    line-height: .9;
}

.create-content1,
.create-content2 strong {
    font-family: "Montserrat", sans-serif;
    color: var(--secondary);
}

#create ul {
    padding-top: 10px;
}

#create ul li {
    padding-bottom: 10px;
}

#create input {
    border: 0 !important;
    background-color: #f2f2f2;
    padding-left: 10px;
}

.clr-field {
    display: inherit !important;
}

.clr-field button {
    width: 100px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav {
    position: fixed;
    width: 100%;
    top: 30px;
    right: 10px;
    text-align: right;
}

nav a {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary);
    width: 150px;
    height: 50px;
    color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*********************************************

TOOLS

*********************************************/
.tools {
    position: fixed;
    right: 0;
    background-color: var(--alt);
    width: 10%;
    height: 100vh;
}

.controls {
    display: flex;
    margin-top: 10px;
}

.controls li {
    padding-right: 5px;
}

.controls button {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary);
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 22px;
}

/*********************************************

ARTBOARDS

*********************************************/
.artboards {
    display: flex;
    line-height: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.artboard {
    margin-right: 10px;
}

.artboard canvas {
    width: 60vh;
}

.layers {
    border: 1px dotted black;
}

.layer1 {
    position: absolute;
    z-index: 7;
}

.layer2 {
    position: absolute;
    z-index: 6;
}

.layer3 {
    position: absolute;
    z-index: 5;
}

.layer4 {
    position: absolute;
    z-index: 4;
}

.layer5 {
    position: absolute;
    z-index: 3;
}

.layer6 {
    position: absolute;
    z-index: 2;
}

.layer7 {
    z-index: 1;
}



.imagine {
    border: 2px solid var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--alt);
    background-color: var(--primary);
    font-family: 'Sitaoy', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0px 30px 60px var(--primary);

    /* fx */
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.imagine:hover {
    color: var(--primary);
    background-color: var(--alt);
}


/*********************************************

LOADING

*********************************************/

#loading {
    z-index: 99;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

#loading.hide {
    opacity: 0;
}
#loading.show {
    opacity: 1;
  }

.lds-ripple {
    display: inline-block;
    line-height: -3 !important;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--secondary);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
    box-shadow: 0px 0px 60px var(--color5);
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/*********************************************

FIX

*********************************************/
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

small {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: none;
    border-width: 0;
}

input[type="text"] {
    padding-block: 0;
    padding-inline: 0;
}